<div class="container mt-5">
  <h3>Just for testing any errors, <br> i create separated component in Client app and in API.</h3>
  <button (click)="get500Error()" class="btn btn-outline-primary mr-3">test 500 Error</button>
  <button (click)="get400Error()" class="btn btn-outline-primary mr-3">test 400 Error</button>
  <button (click)="get404Error()" class="btn btn-outline-primary mr-3">test 404 Error</button>
  <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">test 400
    validation Error</button>
  <div class="row mt-5" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>
</div>
