<p class="ml-3" style="font-size: larger">There should have been a form of payment, but... Need
  PCI DSS, strong  customer  Auth, Validating card, Stripe with SCA, need account in Stripe
  (stripe.com) and more...</p>
<p class="ml-3" style="font-size: larger">Just click "Submit order"!</p>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to review
  </button>
  <button class="btn btn-primary" (click)="submitOrder()">
    Submit order <i class="fa fa-angle-right"></i>
  </button>
</div>
