<div class="container mt-1">
  <div class="row mb-3">
    <h2>This shop created with technologies:</h2>
  </div>

  <div class="row">
    <div class="col-3">
      <ul>
        <li>.Net Core</li>
        <li>Repository and Unit of Work Pattern</li>
        <li>C# Generics</li>
        <li>Specification Pattern</li>
        <li>Caching</li>
      </ul>
    </div>

    <div class="col-3">
      <ul>
        <li>Angular</li>
        <li>Angular Lazy loading</li>
        <li>Angular Routing</li>
        <li>Angular Reactive Forms</li>
        <li>Angular validation and async validation</li>
      </ul>
    </div>

    <div class="col-3">
      <ul>
        <li>Postgres server</li>
        <li>Redis server</li>
        <li>Linux server</li>
        <li>HTTPS (Let's Encrypt cert)</li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <h3>If you like this test project, <strong>call me</strong> (Sergey Kedrin): +7 929 522-12-08 <br>
      or <strong>write letter</strong> on email:  <a href = "mailto: n1rdeks@mail.ru">n1rdeks@mail
        .ru</a></h3>
  </div>

</div>

