<div class="container mt-2">
  <div class="row">

    <!--  Filter  -->
    <section class="col-3">
      <ng-container *ngIf="types && brands">
        <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
        <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
          <option *ngFor="let sort of sortOptions"
                  [value]="sort.value"
                  [selected]="shopParams.sort === sort.value">{{sort.name}}</option>
        </select>
        <h5 class="text-warning ml-3">Brands</h5>
        <ul class="list-group my-3">
          <li class="list-group-item"
              *ngFor="let brand of brands"
              [class.active]="brand.id === shopParams.brandId"
              [value]="brand.id"
              (click)="onBrandSelected(brand.id)" >{{brand.name}}</li>
        </ul>
        <h5 class="text-warning ml-3">Types</h5>
        <ul class="list-group my-3">
          <li class="list-group-item"
              [class.active]="type.id === shopParams.typeId"
              [value]="type.id"
              (click)="onTypeSelected(type.id)"
              *ngFor="let type of types">{{type.name}}</li>
        </ul>
      </ng-container>
    </section>

    <!--  Content  -->
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">

        <app-paging-header [pageNumber]="shopParams.pageNumber"
                           [pageSize]="shopParams.pageSize"
                           [totalCount]="totalCount"></app-paging-header>

        <div class="form-inline" *ngIf="products">
          <input (keyup.enter)="onSearch()" class="form-control mr-1" style="width: 300px;"
                 placeholder="Search" #search
                 type="text">
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
          <button (click)="onReset()" class="btn btn-outline-success ml-1 my-2">Reset</button>
        </div>
      </div>
      <!--  Cards of products  -->
      <div class="row">
        <div class="col-4 mb-4" *ngFor = "let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <!--   TODO - remove fu '6' and add var   -->
      <div class="d-flex justify-content-center" *ngIf="totalCount > 6">
        <app-pager [pageSize]="shopParams.pageSize"
                   (pageChanged)="onPageChanged($event)"
                   [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"></app-pager>
      </div>

    </section>
  </div>
</div>
